.App {
  text-align: center;
  /* background-color: lightgoldenrodyellow; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

img {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  object-position: top;
}